@charset "utf-8";

/* 親要素（コンテナ）につけられるプロパティ↓ */
/* .flexbox-container {
    display: flex; */

    /* 並び順を右から左へ↓ */
    /* flex-direction: row-reverse; */

    /* アイテムの折り返し、上から下に並べる↓ */
    /* flex-wrap: wrap; */

    /* アイテムを折り返し、下から上に並べる↓ */
    /* flex-wrap: wrap-reverse; */

    /* justify-content: center; */

    /* align-items */
    /* align-itemsを指定するときは高さも指定する */
    /* align-items: flex-end; */
    /* align-items: stretch; */
    /* align-items: flex-start;
    align-items: center; */
    /* align-items: baseline; */
    /* height: 500px; */

    /* align-content */
    /* ブラウザを狭めてアイテムを複数行にするために、flex-wrap: wrap;を指定している↓ */
    /* flex-wrap: wrap;
    align-content: space-between;
    align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-around; */
/*     
    padding: 5px;
    background-color: lightcyan;
 }
 .flexbox-item {
    padding: 5px;
    margin: 5px;
    background-color: orange;
 } */

 /* 子要素（アイテム）につけられるプロパティ↓ */
 .flexbox-container {
   display: flex;
   height: 500px;
   padding: 5px;
   background-color: lightcyan;
}
.flexbox-item {
   /* 「flex-growの値 flex-shrinkの値 flex-basisの値」の順で一括指定します */
   /* flex: 1 1 200px; */
    /* flex: 0 1 auto; */

   padding: 5px;
   margin: 5px;
   background-color: orange;
}
#item01 {
    /* order: 5; */
    /* flex-basis: 150px; */
    align-self: flex-start;
}
#item02 {
    /* order: 6; */
    /* flex-basis: 25%; */
}
#item03 {
    /* order: 7; */
    align-self: center;
}
#item04 {
    /* order: 8; */
}
#item05 {
    /* order: 1; */
    align-self: flex-end;
}
#item06 {
    /* order: 2; */
}
#item07 {
    /* order: 3; */
    /* flex-grow: 1; */
    align-self: baseline;
}
#item08 {
    /* order: 4; */
    /* flex-grow: 2; */
    /* flex-shrink: 2; */
}