@charset "utf-8";
.parent{
    height: 400px;
    background-color: lightcyan;
    position: relative;
}
#first-div{
    width: 100px;
    height: 100px;
    background-color: orange;
}
#second-div{
    width: 100px;
    height: 100px;
    background-color: yellow;
}
#third-div{
    width: 100px;
    height: 100px;
    background-color: pink;
    position: absolute;
    top: 50px;
    right: 50px;
}