@charset "utf-8";
/* p {
  border: solid 5px yellow;   
  padding: 10px;
  margin: 10px;
} */
#second-paragraph {      
  /* padding: 100px; */
  margin: 100px;
  border: solid 5px yellow; 
  
  border: solid 5px yellow; 
}