@charset "utf-8";
.parent {
  /* width: 300px; */
  /* width: 100%; */
  /* width: auto; */
  
  width: auto;
  background-color: yellow;    
}
.child {
  /* width: 150px; */
  /* width: 50%; */
  /* width: auto; */

  /* width: 50%;
  min-width: 300px; */

  width: 80%;
  max-width: 600px;
  background-color: orange;       
}